body{
 margin: 0px;
 padding: 0px;
 backgtound: url(https://img.freepik.com/free-vector/isometric-people-working-with-technology_52683-19078.jpg?w=826&t=st=1678276354~exp=1678276954~hmac=1dea78f9c280bd3b47fb0f1cf17f13bd0c5266bd12e29516d7b50fcb3505e7a9);
 display: flex;
 justify-content: center;
  align-items: center;
}

h1{
font-size: 45px;
}
